<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        
        
    </style>
</head>



<body>
    <header>
        <div>
            <a href="admin">Sign In (Admin)</a>
        </div>

        <div>
            <a href="">sign in user</a>

            <form action="signinUserSubmit" method="post">
                {% csrf_token %}
                <div>
                  <input type="text" name="email" required />
                  <label for="email">Email</label>
                </div>
                <div>
                  <input type="password" name="passwd" required />
                  <label for="passwd">Password</label>
                </div>
        
                <button type="submit">Login</button>
              </form>
        </div>
    </header>
</body>




<script>
    
</script>
</html>








